$main-white-color: #FFFFFF;
$main-cyan-color: rgba(88, 102, 112, 1);
$categoryText-gray-color: #555555;
$inactiveCategory-lightgray-color: rgba(221, 221, 221, 1);
$inactiveCategoryBorder-lightgray-color: rgb(189, 189, 189);
$username-black-color: black;
$lastmsg-gray-color: #333333;
$userActive-lightgray-color: #F8F8F8;
$input-gray-color: #999999;
$inputBorder-gray-color: rgba(204, 204, 204, 1);
$inputActiveOutline-blue-color: rgba(116, 185, 239, 1);
$scrollTrack-lightcyan-color: #BECBD9;
$scrollHabdle-gray-color: #9DAAB9;
$button-blue-color: #428BCA;
$buttonBorder-blue-color: rgba(53, 126, 188, 1);
$chatWindow-lightcyan-color: #D7DFE7;
$msgSender-lightOrange-color: #F0CBB3;
$reciverUsername-cyan-color: #203245;
$senderUsername-brown-color: #703A18;
$msgDate-gray-color: #9AA8B7;
$newMsg-red-color: red;